@model List<FoodDeliveryApplicationUI.Models.ProductViewModel>

@{
    ViewBag.Title = "Product List";
}

<div class="container">
    <h2>Product List</h2>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Images/@product.ImageFileName" class="card-img-top" alt=@product.Name +"product not found", style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text price-text">@product.Price kg</p>
                            <button class="btn btn-primary" onclick="addToCart(@product.ProductId)">
                                <span class="bi bi-cart-fill cart-icon"></span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
       function addToCart(productId) {
            // AJAX request to call the AddToCart action in CustomerController
            $.ajax({
                url: '@Url.Action("AddToCart", "Customer")', // Assuming your action is named AddToCart and is in the CustomerController
                type: 'POST',
                data: { productId: productId },
                error: function () {
                    alert("Error adding product to cart.");
                }
            });
        }
    </script>
}
